通识必修/计算机类/c/C语言程序设计（第4版）[[:space:]](何钦铭,颜晖)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
专业基础/电子电路基础/讲义/模拟电子技术基础.pdf filter=lfs diff=lfs merge=lfs -text
专业基础/电子电路基础/讲义/MicroelectronicCircuits.pdf filter=lfs diff=lfs merge=lfs -text
专业基础/复变/讲义/zju复变函数与积分变换.pdf filter=lfs diff=lfs merge=lfs -text
专业基础/电子工程训练/验收视频.mp4 filter=lfs diff=lfs merge=lfs -text
